preview/
*.xlsm
.DS_Store
allocation_pdfs
*.pyc
/*.csv
module_pdfs/
/module_pdfs/*
__pycache__/generate_allocation_pdfs.cpython-314.pyc
__pycache__/generate_allocation_pdfs.cpython-314.pyc
admin_sheet.xlsx
